export LORIS_CLOUDFOUNDRY_HOST=
export LORIS_CLOUDFOUNDRY_PASSWORD=
export LORIS_CLOUDFOUNDRY_SKIPSSLVALIDATION=
export LORIS_CLOUDFOUNDRY_USERNAME=


# Do not change this variables
export PATH=$PATH:$PWD/bin
